autopep8==1.6.0
astroid==2.13.2
certifi==2022.12.07
chardet==4.0.0
colorama==0.4.6
confusable-homoglyphs==3.2.0
defusedxml==0.7.1
Django>=4.1.5
django-allauth==0.52.0
django-crispy-forms==1.14.0
django-registration==3.3
django-rest-auth==0.9.5
django-webpack-loader==1.5.0
djangorestframework==3.13.1
idna==3.4
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
oauthlib==3.2.2
pycodestyle==2.8.0
pylint==2.15.10
python3-openid==3.2.0
pytz==2022.1
Pillow>=9.1.1
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
sqlparse==0.4.3
typed-ast==1.5.4
urllib3==1.26.9
wrapt==1.14.1
